<nav class="navbar navbar-expand-sm navbar-light bg-success">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" routerLink="/" aria-current="page" href="#" style="font-size: medium;">Home</a>
          <a class="nav-link" routerLink="/userregistrationform" href="#" style="font-size: medium;">Register</a>
          <a class="nav-link"  routerLink="/registerdusers" href="#" style="font-size: medium;">Registerd Users</a>
        </div>
      </div>
    </div>
  </nav>


